@define-color borders_breeze #494a4b;
@define-color content_view_bg_breeze #111112;
@define-color error_color_backdrop_breeze #ffb3b4;
@define-color error_color_breeze #ffb3b4;
@define-color error_color_insensitive_backdrop_breeze #8b787b;
@define-color error_color_insensitive_breeze #8b787b;
@define-color insensitive_base_color_breeze #1f2021;
@define-color insensitive_base_fg_color_breeze #848688;
@define-color insensitive_bg_color_breeze #1f2021;
@define-color insensitive_borders_breeze #363739;
@define-color insensitive_fg_color_breeze #7c7d80;
@define-color insensitive_selected_bg_color_breeze #1f2021;
@define-color insensitive_selected_fg_color_breeze #7c7d80;
@define-color insensitive_unfocused_bg_color_breeze #1f2021;
@define-color insensitive_unfocused_fg_color_breeze #7c7d80;
@define-color insensitive_unfocused_selected_bg_color_breeze #1f2021;
@define-color insensitive_unfocused_selected_fg_color_breeze #7c7d80;
@define-color link_color_breeze #926ee4;
@define-color link_visited_color_breeze #ebb2ff;
@define-color success_color_backdrop_breeze #00e479;
@define-color success_color_breeze #00e479;
@define-color success_color_insensitive_backdrop_breeze #468a6d;
@define-color success_color_insensitive_breeze #468a6d;
@define-color theme_base_color_breeze #111112;
@define-color theme_bg_color_breeze #1f2021;
@define-color theme_button_background_backdrop_breeze #272829;
@define-color theme_button_background_backdrop_insensitive_breeze #1f2021;
@define-color theme_button_background_insensitive_breeze #1f2021;
@define-color theme_button_background_normal_breeze #272829;
@define-color theme_button_decoration_focus_backdrop_breeze #926ee4;
@define-color theme_button_decoration_focus_backdrop_insensitive_breeze #635a81;
@define-color theme_button_decoration_focus_breeze #926ee4;
@define-color theme_button_decoration_focus_insensitive_breeze #635a81;
@define-color theme_button_decoration_hover_backdrop_breeze #926ee4;
@define-color theme_button_decoration_hover_backdrop_insensitive_breeze #635a81;
@define-color theme_button_decoration_hover_breeze #926ee4;
@define-color theme_button_decoration_hover_insensitive_breeze #635a81;
@define-color theme_button_foreground_active_backdrop_breeze #c8c6c7;
@define-color theme_button_foreground_active_backdrop_insensitive_breeze #7c7d80;
@define-color theme_button_foreground_active_breeze #ffffff;
@define-color theme_button_foreground_active_insensitive_breeze #7c7d80;
@define-color theme_button_foreground_backdrop_breeze #e4e2e3;
@define-color theme_button_foreground_backdrop_insensitive_breeze #848688;
@define-color theme_button_foreground_insensitive_breeze #848688;
@define-color theme_button_foreground_normal_breeze #e4e2e3;
@define-color theme_fg_color_breeze #c8c6c7;
@define-color theme_header_background_backdrop_breeze #1f2021;
@define-color theme_header_background_breeze #1f2021;
@define-color theme_header_background_light_breeze #1f2021;
@define-color theme_header_foreground_backdrop_breeze #c8c6c7;
@define-color theme_header_foreground_breeze #c8c6c7;
@define-color theme_header_foreground_insensitive_backdrop_breeze #c8c6c7;
@define-color theme_header_foreground_insensitive_breeze #c8c6c7;
@define-color theme_hovering_selected_bg_color_breeze #926ee4;
@define-color theme_selected_bg_color_breeze #6b52a5;
@define-color theme_selected_fg_color_breeze #ffffff;
@define-color theme_text_color_breeze #e4e2e3;
@define-color theme_titlebar_background_backdrop_breeze #1f2021;
@define-color theme_titlebar_background_breeze #1f2021;
@define-color theme_titlebar_background_light_breeze #1f2021;
@define-color theme_titlebar_foreground_backdrop_breeze #c8c6c7;
@define-color theme_titlebar_foreground_breeze #c8c6c7;
@define-color theme_titlebar_foreground_insensitive_backdrop_breeze #c8c6c7;
@define-color theme_titlebar_foreground_insensitive_breeze #c8c6c7;
@define-color theme_unfocused_base_color_breeze #111112;
@define-color theme_unfocused_bg_color_breeze #1f2021;
@define-color theme_unfocused_fg_color_breeze #c8c6c7;
@define-color theme_unfocused_selected_bg_color_alt_breeze #342a4d;
@define-color theme_unfocused_selected_bg_color_breeze #342a4d;
@define-color theme_unfocused_selected_fg_color_breeze #c8c6c7;
@define-color theme_unfocused_text_color_breeze #e4e2e3;
@define-color theme_unfocused_view_bg_color_breeze #1f2021;
@define-color theme_unfocused_view_text_color_breeze #848688;
@define-color theme_view_active_decoration_color_breeze #926ee4;
@define-color theme_view_hover_decoration_color_breeze #926ee4;
@define-color tooltip_background_breeze #1f2021;
@define-color tooltip_border_breeze #505152;
@define-color tooltip_text_breeze #e4e2e3;
@define-color unfocused_borders_breeze #494a4b;
@define-color unfocused_insensitive_borders_breeze #363739;
@define-color warning_color_backdrop_breeze #fcb38a;
@define-color warning_color_breeze #fcb38a;
@define-color warning_color_insensitive_backdrop_breeze #8b786f;
@define-color warning_color_insensitive_breeze #8b786f;
